In [19]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier, RandomForestRegressor
from sklearn import metrics

In [20]:
data=pd.read_csv('HR_comma_sep.csv')

In [21]:
data.shape

(14999, 10)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [23]:
data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [24]:
le = preprocessing.LabelEncoder()

data['salary']=le.fit_transform(data['salary'])
data['sales']=le.fit_transform(data['sales'])

In [25]:
X=data.drop('left', axis=1)
y=data['left']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)  # 70% training and 30% test

In [26]:
gb = GradientBoostingClassifier()
gb.fit(X_train, y_train)
y_pred = gb.predict(X_test)

In [27]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9713333333333334

In [28]:
gb.feature_importances_

array([5.53190623e-01, 1.00397178e-01, 1.05443552e-01, 6.89111565e-02,
       1.69689905e-01, 1.04498767e-03, 0.00000000e+00, 3.14729932e-04,
       1.00786788e-03])

In [29]:
feature_importance = pd.DataFrame(columns = ['Название', 'Важность'])

In [30]:
feature_importance['Название'] = X_test.keys()
feature_importance['Важность'] = gb.feature_importances_

In [31]:
feature_importance.sort_values(by='Важность', ascending=False)

                Название  Важность
0     satisfaction_level  0.553191
4     time_spend_company  0.169690
2         number_project  0.105444
1        last_evaluation  0.100397
3   average_montly_hours  0.068911
5          Work_accident  0.001045
8                 salary  0.001008
7                  sales  0.000315
6  promotion_last_5years  0.000000